<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/fa/css/all.min.css" rel="stylesheet">
    <link href="css/quill.snow.css" rel="stylesheet">
    <link href="css/otExtender.css" rel="stylesheet">
    <script src="js/quill.js"></script>
    <script src="otExtender.bundle.js"></script>
    <title>SyncEnc - Demonstrator</title>
</head>
<body>
<div><img src="img/syncenc-logo.png" />
<h2>Synchrones Arbeiten auf verschlüsselten Dokumenten</h2></div>
<iframe id="postMessageIframe" title="KMS Communicator" src="https://neon.cloud.nds.rub.de/integratedIndex.html"
        style="width:0;height:0;border:0; border:none;">
    <p>Your browser does not support iframes.</p>
</iframe>
<div id="toolbar">
    <select class="ql-size">
        <option value="small"></option>
        <option selected></option>
        <option value="large"></option>
        <option value="huge"></option>
    </select>
    <button class="ql-link"></button>
    <button class="ql-bold"></button>
    <button class="ql-italic"></button>
    <button class="ql-underline"></button>
    <select class="ql-color">
        <option value="red">Red</option>
        <option value="#00f">Blue</option>
        <option value="rgb(255,255,0)">Yellow</option>
        <option value="green">Green</option>
        <option value="black">Black</option>
    </select>
    <button class="ql-encryption fas fa-lock"></button>
    <button class="ql-encAddUser fas fa-user-plus"></button>
    <button class="ql-encDelUser fas fa-user-minus"></button>
</div>
<div id="editor"></div>
<div id="statusBar"></div>

<script>
    window.quill = new Quill('#editor', {
        theme: 'snow',
        modules: {
            toolbar: {
                container: "#toolbar"
            },
            'OtExtender': {
                statusBar: "#statusBar",
                useStaticKeys: false
            }
        }
    });
</script>
<div class="footer">
    <hr/>
    <a href="http://bmbf.de"><img src="img/bmbf-logo.jpg" alt="BMBF"></a>
    <a href="http://www.uni-saarland.de/lehrstuhl/borges"><img src="img/uds-logo.png" alt="UdS"></a>
    <a href="https://www.nds.rub.de"><img src="img/rub-logo.jpg" alt="RUB"></a>
    <a href="https://www.ecsec.de"><img src="img/ecsec-logo.png" style="width:120px;" alt="ECSEC"></a>
</div>
</body>
</html>