.ql-encryption:before {
    content: "E";
}

.ql-encAddUser:before{
    content: "+";
}

.ql-encDelUser:before{
    content: "-";
}

#statusBar {
    border: solid #ccc;
    border-width: 0px 1px 1px 1px;
    padding: 5px 15px;
    font-size: 100%;
}