.ql-encryption:before {
}

.ql-encAddUser:before{
}

.ql-encDelUser:before{
}

#statusBar {
    border: solid #ccc;
    border-width: 0px 1px 1px 1px;
    padding: 5px 15px;
    font-size: 100%;
}

h2 {
    margin-bottom: auto;
}

.footer {
    margin-top: 3em;
}

.footer img {
    margin: 7px 15px;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}